/*new css*/

body {background: #000;
	color: #fff;
	text-align: center;
}

ul {text-align: left;}

.menu{
	top: 0;
	left: 0;
	position: absolute;
	display: inline;
	list-style: none;
	background-color: #184352;
	padding: 5px;
	border-radius: 5px;
}

.menu li {margin: 5px 0;
	border-width: 2px;
	border-style: inset;
	border-color: #fff;
	border-radius: 5px;
}

.menu li:hover{
	border-color: #f00;
	background-color: #f00;
}

.box {border-width: 5px;
	border-style: solid;
	border-color: #184352;
	background-color: #184352;
	display: inline-block;
	border-radius: 5px;
	margin: 2px;
}

.box:hover{
	background-color: #f00;
	border-color: #f00;
}

.box p{margin: 0;
	text-align: center;
}

.gallery{}

a:link{color: #fff;
	text-decoration: none;
}
a:visited{color: #fff;
	text-decoration: none;
}

p {text-align: left;}

body img {}

/*.gallery*/